<section class="page-members">
	<div class="container">
		
		<div class="ui grid stackable members-header">
			<div class="seven wide column">
				<form class="ui form form-add {{isError}}" action="/members/add">
				  	<div class="ui action input fluid">
					    <input type="text" name="email" placeholder="Email">
						<div class="ui green submit button">添加</div>
				  	</div>
				  	<div class="ui error message">{{msg}}</div>
			    </form>
	          	<div class="sub">
	          		通过账号（邮箱）将其他用户添加到你所在的团队中。
	          	</div>
			</div>
			<div class="nine wide column">
				<div class="ui input fluid">
			    	<input type="text" readonly="readonly" value="{{url}}/signup/{{user.team_now}}">
			    </div>
			    <div class="sub">
					邀请新用户使用上方链接进行注册，成功后将直接加入本团队。
	          	</div>
			</div>
		</div>

		<div class="ui horizontal header divider">
	        <span class="divider-text">{{team.name}}</span>
      	</div>

		<div class="member-list">
			{{#if members}}
			<div class="ui stackable items">
				{{#each members}}
			  	<div class="item">
			  		<img class="member-avatar" src="/images/avatar/{{avatar}}">
					<div class="name">{{name}}</div>
					{{#if name}}
						<div class="owner">团长</div>
					{{/if}}
			  	</div>
			  	{{/each}}
			</div>
	  		{{/if}}
		</div>

	</div>
</section>

{{#if isproduction}}
    <script src="/javascripts/pro/members.min.js"></script>
{{else}}
    <script src="/javascripts/sub/members.js"></script>
{{/if}}