<section class="page-signup">
    {{#unless goLogin}}
    <div class="ui icon blue message">
        <i class="icon {{joke.icon}}"></i>
        <div class="content">
            <div class="header">Leeven</div>
            <p>{{joke.text}}</p>
        </div>
    </div>
    <div class="ui horizontal divider">注册</div>
    <form class="ui form segment {{isError}}" action="{{action}}" method="post">
        <div class="field">
            <label>邮箱</label>
            <div class="ui left labeled icon input">
                <input type="text" name="email" placeholder="Email" autofocus>
                <i class="mail icon"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>名称</label>
            <div class="ui left labeled icon input">
                <input type="text" name="name" placeholder="Name">
                <i class="user icon"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>密码</label>
            <div class="ui left labeled icon input">
                <input type="password" name="password" placeholder="Password">
                <i class="lock icon"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>确认密码</label>
            <div class="ui left labeled icon input">
                <input type="password" name="confirmPassword" placeholder="Confirm Password">
                <i class="lock icon"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        
        <div class="ui medium buttons">
            <div class="ui submit button blue animated">
                <div class="visible content">注册</div>
                <div class="hidden content">
                    <i class="icon thumbs up"></i>
                </div>
            </div>
            <div class="or"></div>
            <a class="ui button" href="/">登录</a>
        </div>
        <div class="ui error message">{{msg}}</div>
    </form>
    {{else}}
    <h4 class="ui large aligned icon header">
        <i class="circular inverted green icon bullhorn"></i>
        <p>注册成功！现在就去<a href="/">[登录]</a>吧~</p>
    </h4>
    {{/unless}}
</section>