<section class="page-setting">
	<div class="container">
		<div class="ui top attached tabular menu">
		  	<a href="/setting" class="item">
		    	基本信息
		  	</a>
		  	<a href="/setting/avatar" class="item">
		    	修改头像
		  	</a>
		  	<a class="active item">
		    	修改密码
		  	</a>
		</div>
		<div class="ui orange segment">
			{{#if success}}
			<div class="ui success message">{{success}}</div>
			{{/if}}
			<form id="pwdForm" class="ui form {{isError}}" action="/setting/pwd" method="post">
				<input type="hidden" name="_id" value="{{user._id}}">
				<div class="two fields">
					<div class="field">
						<label>当前密码</label>
						<input type="password" name="pwdnow" required >
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label>新密码</label>
						<input type="password" name="password" required >
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label>重复新密码</label>
						<input type="password" name="confirmPassword" required >
					</div>
				</div>
				<div class="ui button submit orange">修改</div>
				<div class="ui error message">{{msg}}</div>
			</form>
      	</div>
	</div>
</section>

{{#if isproduction}}
    <script src="/javascripts/pro/setting.min.js"></script>
{{else}}
    <script src="/javascripts/sub/setting.js"></script>
{{/if}}