<section class="page-projects">
	<div class="container">
		<div class="option-holder">
			<div class="float-right">
				<div id="btnAddProject" class="ui green button">
				  <i class="add icon"></i>
				  <span class="text">新建项目</span>
				</div>
			</div>
		</div>
		<div class="ui stacked segment list-holder">
		  	{{#if projects}}
				<div class="ui stackable items">
					{{#each projects}}
				  	<div class="item">
				  		<a href="/files/{{_id}}">
					    	<div class="title" title="{{name}}">{{name}}</div>
							<div class="description" title="{{description}}">{{description}}</div>
						</a>
						<a class="ui right blue corner label setting-project" data-pid="{{_id}}" title="编辑">
					    	<i class="setting icon"></i>
					  	</a>
				  	</div>
				  	{{/each}}
				</div>
		  	{{else}}
			<div class="ui message">
			  	<div class="header">你的团队没有建立任何项目</div>
			  	<p>项目一旦建立，团队中的所有成员都可以对它进行操作</p>
			</div>
		  	{{/if}}
		</div>
	</div>
	{{!-- /.container --}}

	<div class="ui wide styled sidebar sidebar-project">
		<a class="ui top right attached label close-sidebar">关闭</a>
	  	<h3 class="ui header"></h3>
	  	<form id="formProject" class="ui form" data-teamid="{{user.team_id}}">
		    <div class="field">
		      	<label>名称</label>
		      	<input type="text" name="name" placeholder="Name">
		    </div>
		    <div class="field">
		      	<label>描述</label>
		      	<textarea name="description" placeholder="description"></textarea>
		    </div>
	    	<div class="ui green fluid button submit">提交</div>
	    	<div class="ui red fluid button del-project">删除项目</div>
	    	<div class="ui error message msg-project-form"></div>
	  	</form>
	</div>
	{{!-- /.sidebar --}}

</section>

{{#if isproduction}}
    <script src="/javascripts/pro/projects.min.js"></script>
{{else}}
    <script src="/javascripts/sub/projects.js"></script>
{{/if}}