<section class="page-files">
	<div class="container">
		<div class="head-holder">
			<div class="ui header">
				{{project.name}}
				<div class="sub header">{{project.description}}</div>
			</div>
		</div>

		<div class="ui piled segment list-holder">
			<div class="option-holder">
				<div class="float-right">
					<div id="btnAddFile" class="ui green button">
					  <i class="add icon"></i>
					  <span class="text">新建文档</span>
					</div>
				</div>
			</div>
		  	{{#if files}}
				<div class="ui stackable items">
					{{#each files}}
				  	<div class="item">
				  		<a data-fid="{{_id}}">
					  		<i class="icon text file outline"></i>
						    <div class="title" title="{{name}}">{{name}}</div>
					    </a>
					    <div class="options">
					    	<a class="setting-file" title="编辑" data-fid="{{_id}}">
					    		<i class="icon setting"></i>
					    	</a>
					    	<a href="/editfile/{{_id}}" title="编写文档">
					    		<i class="icon edit"></i>
					    	</a>
					    	<a href="javascript:alert('开发中...')" title="查看操作日志">
					    		<i class="icon book"></i>
					    	</a>
					    </div>
				  	</div>
				  	{{/each}}
				</div>
		  	{{else}}
			<div class="ui message">
			  	<div class="header">该项目中没有任何文档</div>
			  	<p>文档一旦建立，团队中的所有成员都可以对它进行操作</p>
			</div>
		  	{{/if}}
		</div>
	</div>
	{{!-- /.container --}}


	<div class="ui wide styled sidebar sidebar-file">
		<a class="ui top right attached label close-sidebar">关闭</a>
	  	<h3 class="ui header"></h3>
	  	<form id="formFile" class="ui form" data-pid="{{project._id}}">
		    <div class="field">
		      	<label>名称</label>
		      	<input type="text" name="name" placeholder="Name">
		    </div>
		    <div class="field">
		      	<label>类型</label>
		      	<input type="text" name="file_type" readonly="readonly" value="Markdown">
		    </div>
	    	<div class="ui green fluid button submit">提交</div>
	    	<div class="ui red fluid button del-file">删除文档</div>
	    	<div class="ui error message msg-file-form"></div>
	  	</form>
	</div>
	{{!-- /.sidebar-file --}}
	
	<div class="ui wide styled sidebar sidebar-view">
		<div class="file-holder">
			<div class="file-head">
				<h3 class="ui header"></h3>
				<div class="file-options">
					<a class="ui left attached button tiny blue btn-editfile">编写</a>
					<a class="ui right attached button tiny close-sidebar">关闭</a>
				</div>
			</div>
			<div class="file-content">
				<article class="md-file"></article>
			</div>
		</div>
		{{!-- <a class="ui top right attached label close-sidebar">关闭</a>
	  	<h3 class="ui header">view</h3>
	  	<article class="ui stacked segment md-file file-content"></article> --}}
	</div>
	{{!-- /.sidebar-view --}}

</section>

<script src="/libs/marked/marked.js"></script>
{{#if isproduction}}
    <script src="/javascripts/pro/files.min.js"></script>
{{else}}
    <script src="/javascripts/sub/files.js"></script>
{{/if}}